.container {
    background-color: #24292e;
    padding: 16px;
    height: 64px;
    overflow: auto;
    color: white;
    display: flex;
    align-items: center;
}

.container > h3 {
    margin: 0 16px;
}

.logo {
    fill: white;
}